In [19]:
import pandas as pd

df1 = pd.read_excel("merge_sample_data.xlsx", "업종정보")
df2 = pd.read_excel("merge_sample_data.xlsx", "주식정보").loc[:, ["기업명", "상장시가총액(원)"]]

#엑셀 vlookup을 대체할 수 있는 코드
df_results = pd.merge(df1, df2, on="기업명", how="left")

display(df_results)
df_results.to_excel(
    "merge_results.xlsx",
    sheet_name = "업종정보_시총정보 포함",
    header = True,
    index = False
)

,id,종목코드,기업명,업종코드,업종,자본금(원),상장시가총액(원)
0,0,95570,AJ네트웍스,147603,산업용 기계 및 장비 임대업,"46,822,295,000","157,088,799,725"
1,1,6840,AK홀딩스,116409,기타 금융업,"66,237,805,000","250,378,902,900"
2,2,27410,BGF,116409,기타 금융업,"95,716,791,000","421,153,880,400"
3,3,282330,BGF리테일,74701,종합 소매업,"17,283,906,000","2,212,339,968,000"
4,4,138930,BNK금융지주,116409,기타 금융업,"1,629,676,230,000","1,698,122,631,660"
...,...,...,...,...,...,...,...
786,786,79980,휴비스,32005,화학섬유 제조업,"172,500,000,000","218,385,000,000"
787,787,5010,휴스틸,32401,1차 철강 제조업,"38,108,340,000","52,818,159,240"
788,788,69260,휴켐스,32004,기타 화학제품 제조업,"40,878,588,000","674,496,702,000"
789,789,540,흥국화재,116501,보험업,"325,821,225,000","144,867,164,475"
790,790,3280,흥아해운,85001,해상 운송업,"58,366,279,500","30,117,000,222"